*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.circle{
    height: 1000px;
    width: 1000px;
    background-color: #6D4424;
    position: absolute;
    opacity: .1;
    border-radius: 100%;
    right: -300px;
    top: -200px;
    z-index: 0;
}

.content{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.content .subtitle{
    font-size: 40px;
    font-weight: 900;
}

.content .text-fill{
    font-size: 20px;
    font-weight: 300;
}

@media (max-width:450px){
    .content .subtitle{
        font-size: 30px;
        font-weight: 900;
    }
    
    .content .text-fill{
        font-size: 15px;
        font-weight: 300;
    }
}

/*header*/

header{
    --text: #000;
    --reverse_text: #f2f2f2;
    --reverse_background: #000;
    --background: #f2f2f2;


    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px ;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    background-color: var(--background);
    box-shadow: 0px 2px 10px var(--reverse_background);
    transition: .2s;
    z-index: 1;
}

.logo_nav{
    color: var(--text);
    font-size: 40px;
    font-weight: 800;
    padding: 10px 30px;
    text-decoration: none;
    transition: transform .2s;
}

.logo_nav:hover{
    transform: scale(1.1);
}

button{
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Mulish', sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

button a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0px;
    position: relative;
    transition: .2s;
}

.contact-nav{
    display: none;
}

header nav button a::before{
    content: '';
    position: absolute;
    height: 2px;
    background-color: var(--text);
    width: 100%;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: right;
}

header nav button a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.contact a{
    text-decoration: none;
    color: var(--text);
    padding: 8px 25px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
    border: 4px solid var(--text);
    outline: none;
    background-color: transparent;
    border-radius: 6px;
    position: relative;
    transition: .4s;
    margin-left: 10px;
}

.contact a::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--text);
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}

.contact a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.contact a:hover{
    color: var(--reverse_text);
}

.nav_scrolled{
    --text: #000;
    --reverse_text: #f2f2f2;
    --reverse_background: #000;
    --background: #f2f2f2;
}

nav{
    text-align: center;
    display: flex;
}

#menu-icon{
    color: var(--text);
    font-size: 40px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1250px){
    button a{
        font-size: 18px;
        transition: .2s;
    }
    .logo_nav{
        font-size: 40px;
    }
    .contact a{
        text-decoration: none;
        color: var(--text);
        padding: 8px 25px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Mulish', sans-serif;
        border: 4px solid var(--text);
        outline: none;
        background-color: transparent;
        border-radius: 6px;
        position: relative;
        transition: .4s;
    }
}

@media (max-width: 1140px){
    button a{
        text-decoration: none;
        color: var(--text);
        font-size: 18px;
        font-weight: 400;
        padding: 5px 0px;
        position: relative;
        transition: .2s;
    }
    .logo_nav{
        font-size: 40px;
    }
    .contact a{
        text-decoration: none;
        color: var(--text);
        padding: 8px 26px;
        font-size: 20px;
        font-weight: 800;
        font-family: 'Mulish', sans-serif;
        border: 4px solid var(--text);
        outline: none;
        background-color: transparent;
        border-radius: 6px;
        position: relative;
        transition: .4s;
    }
}

@media (max-width: 1070px){
    #menu-icon{
        display: block;
    }

    nav{
        position: absolute;
        top: 110%;
        right: -100%;
        width: 300px;
        height: 29vh;
        border-radius: 15px;
        background-color: var(--reverse_text);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: 1px solid var(--text);
        transition: all .4s ease;
    }

    button{
        padding: 10px 0px;
    }

    .contact-nav{
        display: block;
    }

    .contact{
        display: none;
    }

    button a:active{
        transform: translateY(-2px);
    }

    nav.open{
        right: 2%;
    }
    header{
        padding: 5px 40px ;
    }
    @media (max-height: 769px){
        button{
            padding: 8px 0px;
        }
        button a{
            font-size: 17px;
        }
        nav{
            position: absolute;
            top: 110%;
            right: -100%;
            width: 280px;
            height: 29vh;
            border-radius: 15px;
            background-color: var(--reverse_text);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border: 1px solid var(--text);
            transition: all .4s ease;
        }
    }
    @media (max-height: 666px){
        nav{
            position: absolute;
            top: 110%;
            right: -100%;
            width: 240px;
            height: 29vh;
            border-radius: 15px;
            background-color: var(--reverse_text);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border: 1px solid var(--text);
            transition: all .4s ease;
        }
        button a{
            font-size: 14px;
        }
    }
}


@media (max-width: 1040px){
    #menu-icon{
        color: var(--text);
        font-size: 35px;
        cursor: pointer;
        display: block;
    }
    .logo_nav{
        font-size: 40px;
    }
}

@media(max-width: 630px){
    #menu-icon{
        color: var(--text);
        font-size: 30px;
        cursor: pointer;
        display: block;
        margin-right: 30px;
    }
    .logo_nav{
        font-size: 35px;
    }
    header{
        padding: 10px 0px ;
    }
}

@media(max-width: 496px){
    #menu-icon{
        color: var(--text);
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    .logo_nav{
        font-size: 30px;
    }
}

.tune-in{
    height: 110vh;
    width: 100%;
    background:rgba(0,0,0,0.56) url(Tune\ in.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-bottom: 8px;
    overflow: hidden;
}

.tune-in .container1{
    width: 800px;
    height: 50vh;
    margin-bottom: 20px;
}

.tune-in iframe{
    border: 5px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px #f2f2f2;
}

.title{
    font-size: 40px;
    font-weight: 800;
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    padding-top: 90px;
    margin-bottom: 40px;
}

.video-subtitle{
    color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.tune-in-desc{
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    text-align: center;
}

.Closing-night{
    height: 170vh;
    width: 100%;
    background: rgba(0,0,0,0.66) url(closing\ night.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    overflow: hidden;
}

.Closing-night .container{
    width: 800px;
    height: 50vh;
    margin-bottom: 20px;
}

iframe{
    border-radius: 14px;
    border: 5px solid #f2f2f2;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px #f2f2f2;
}

.closing-night-desc{
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    text-align: center;
}

.competitions{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 100px;
}

.competitions .image img{
    height: 50vh;
    width: auto;
    border: 5px solid #6D4424;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 3px #f2f2f2;
}

.competitions .desc{
    display: flex;
    flex-direction: column;
    color: #f2f2f2;
    margin-left: 50px;
}

.tagline{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    width: 400px;
}

.btn a{
    color: #f2f2f2;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: 700;
    padding: 8px 30px;
    border-radius: 10px;
    border: 5px solid #f2f2f2;
    transition: .4s;
    position: relative;
    z-index: 0;
}

.btn a:hover{
    color: #000;
}

.btn a::before{
    content: '';
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
    z-index: -1;
}

.btn a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}

.btn{
    margin-top: 25px;
}

@media (max-width:1052px){
    .title{
        padding-top: 70px;
    }

    .tune-in-desc{
        font-size: 18px;
    }

    .closing-night-desc{
        font-size: 18px;
    }
}

@media (max-width:860px){
    .tune-in .container1{
        width: 600px;
        height: 40vh;
        margin-bottom: 20px;
    }

    .Closing-night .container{
        width: 600px;
        height: 40vh;
        margin-bottom: 20px;
    }

    .competitions{
        margin-top: 80px;
        margin-left: 150px;
    }
}

@media (max-width:650px){

    .video-subtitle{
        font-size: 18px;
    }

    .tune-in .container1{
        width: 500px;
        height: 30vh;
        margin-bottom: 20px;
    }

    .Closing-night .container{
        width: 500px;
        height: 30vh;
        margin-bottom: 20px;
    }

    .competitions .image img{
        height: 40vh;
        width: auto;
    }

    .tagline{
        font-size: 25px;
    }
    
    .btn a{
        font-size: 20px;
        font-weight: 700;
        padding: 7px 25px;
    }

    .competitions{
        margin-top: 80px;
        margin-left: 200px;
    }
    
}

@media (max-width:525px){
    .tune-in .container1{
        width: 400px;
        height: 25vh;
        margin-bottom: 20px;
    }

    .Closing-night .container{
        width: 400px;
        height: 25vh;
        margin-bottom: 20px;
    }

    .competitions .image img{
        height: 40vh;
        width: auto;
    }

    .tagline{
        font-size: 25px;
    }
    
    .btn a{
        font-size: 20px;
        font-weight: 700;
        padding: 7px 25px;
    }

    .competitions{
        margin-top: 80px;
        margin-left: 200px;
    }

    .tune-in-desc{
        font-size: 16px;
    }

    .closing-night-desc{
        font-size: 16px;
    }
}

@media (max-width:510px){
    .tune-in .container1{
        width: 400px;
        height: 25vh;
        margin-bottom: 20px;
    }

    .Closing-night .container{
        width: 400px;
        height: 25vh;
        margin-bottom: 20px;
    }

    .competitions .image img{
        height: 30vh;
        width: auto;
    }

    .tagline{
        font-size: 23px;
        width: 200px;
    }
    
    .btn a{
        font-size: 20px;
        font-weight: 700;
        padding: 7px 25px;
    }

    .competitions{
        margin-top: 80px;
        margin-left: 20px;
    }

    .tune-in-desc{
        font-size: 16px;
    }

    .closing-night-desc{
        font-size: 16px;
    }

    .competitions .desc{
        display: flex;
        flex-direction: column;
        color: #f2f2f2;
        margin-left: 30px;
    }
}

@media (max-width:450px){
    .video-subtitle{
        font-size: 15px;
    }

    .tune-in .container1{
        width: 350px;
        height: 25vh;
        margin-bottom: 20px;
    }

    .Closing-night .container{
        width: 350px;
        height: 25vh;
        margin-bottom: 20px;
    }

    .competitions .image img{
        height: 25vh;
        width: auto;
    }

    .tagline{
        font-size: 20px;
        width: 200px;
    }
    
    .btn a{
        font-size: 18px;
        font-weight: 700;
        padding: 7px 23px;
    }

    .competitions{
        margin-top: 80px;
        margin-left: 30px;
    }

    .tune-in-desc{
        font-size: 16px;
    }

    .closing-night-desc{
        font-size: 16px;
    }

    .competitions .desc{
        display: flex;
        flex-direction: column;
        color: #f2f2f2;
        margin-left: 30px;
    }
}

@media (max-width:400px){

    @media (max-height: 765px) {
        .tune-in .title{
            padding-top: 30px;
        }
    }

    @media (max-height: 695px){
        .tune-in-desc{
            width: 80%;
        }
    }

    @media (max-height: 700px) {
        .tune-in .title{
            padding-top: 20px;
        }
    }

    @media (max-height: 695px){
        .tune-in-desc{
            width: 80%;
            font-size: 12px;
        }
        .closing-night-desc{
            font-size: 12px;
        }
        .content{
            width: 80%;
        }
    }
}

/*outro*/

.outro{
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
    position: relative;
}

.outro .header{
    position: relative;
    text-align: center;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding-top: 10px;
}

.content_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.card1{
    display: inline-block;
    width: 200px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.card1 ul li{
    list-style: none;
}

.card1 ul li a{
    transition: .2s;
    text-decoration: none;
    font-size: 23px;
    color: #000;
}

.card1 ul li a:hover{
    font-weight: 700;
}

#b{
    font-weight: 700;
    transition: .3s;
}

#b:hover{
    color: #8a8a8a;
}

.card1 .label{
    font-size: 23px;
    font-weight: 800;
    text-align: end;
}

.card1 .icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    float: right;
}

.card1 .icons a{
    padding: 0px 2px;
    text-decoration: none;
    color: #000;
}

.addition-card{
    display: none;
}

.addition-card .icons a{
    padding: 0px 1px;
    text-decoration: none;
    color: #000;
}

.addition-card .icons{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.addition-card .label{
    font-family: 'Quicksand', sans-serif;
    color: #000;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}

.outro .image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.outro .image img{
    width: auto;
    height: 6vh;
    margin-bottom: 40px;
}

.outro .copyright{
    width: 100%;
    background-color: #ad9884;
    height: 30px;
    bottom: 0;
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.b{
    font-weight: 800;
}

@media(max-width: 620px){
    .card1 .label{
        margin-right: 25px;
    }
    .card1 .icons{
        margin-right: 25px;
    }
}

@media(max-width: 525px){
    .outro .header{
        font-size: 40px;
    }
    .card1 ul li a{
        transition: .2s;
        text-decoration: none;
        font-size: 18px;
        color: #000;
    }
    .card1 .label{
        font-size: 18px;
        font-weight: 800;
        text-align: end;
    }
    .card1 .icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        font-size: 20px;
    }
}

@media(max-width: 480px){
    .outro .copyright{
        font-size: 15px;
    }
}

@media(max-width: 480px){
    .outro .copyright{
        font-size: 13px;
    }
}

@media(max-width: 400px){
    .outro .copyright{
        font-size: 11px;
        height: 28px;
    }
    .card1 ul li a{
        transition: .2s;
        text-decoration: none;
        font-size: 15px;
        color: #000;
    }
    .card3{
        display: none;
    }
    .addition-card{
        display: block;
    }
}

@media(max-width: 326px){
    .outro .copyright{
        font-size: 10px;
        height: 26px;
    }
}